<div id="tab1"> <!--  Start of Tab 1 -->

  <div class="ae-widget">
    <table class="without_paginate"><!--  Start of Table -->
      <thead>
      <tr>
        <th>Login</th>
        <th>Mac Address</th>
        <th>Count Mac Addresses</th>
      </tr>
      </thead>
      <tbody>
      <% events.each do |event| %>
      <tr>
        <td><%= event.UserName %></td>
        <td><%= event.mac_addresses %></td>
        <td><%= event.count %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <!--  End of Table -->
  </div>

</div>
<!--  End of Tab 1 -->
