<div id="tab3">
  <div class="ae-widget">
    <table class="without_paginate">
      <thead>
      <tr>
        <th>Login</th>
        <th>Mac Address</th>
        <th>Count</th>
        <th>Last connect</th>
      </tr>
      </thead>
      <tbody>
      <% events.each do |event| %>
      <tr>
        <td><%= event.UserName %></td>
        <td><%= event.CallingStationId %></td>
        <td><%= event.count %></td>
        <td><%= event.AcctStartTime %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>