<% content_for :other_menu do %>
  <li><a href="#">Mac-Logins</a></li>
  <li><a href="#">Login-Macs</a></li>
  <li><a href="#">Login on Mac</a></li>
<% end %>

<%= render :partial => 'mac_address_logins', :locals => { :events => @mac_address_logins } %>
<%= render :partial => 'login_mac_addresses', :locals => { :events => @login_mac_addresses } %>
<%= render :partial => 'login_on_mac_address', :locals => { :events => @login_on_mac_address } %>

